#DivPadre{
    background: rgb(255, 194, 194);
    height: 300px;
    width: 300px;
    border: 1px solid;
    margin: 50px;
    margin-top: 20px;
    padding: 10px;
    padding-right: 20px;
}

#DivHijo{
    background: springgreen;
    height: 150px;
    width: 150px;
    border: 1px solid;
}